# pre-commit <https://pre-commit.com>

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/FHPythonUtils/LicenseCheck
    rev: '2024'
    hooks:
      - id: licensecheck
        stages: [ manual ]

default_language_version:
  python: python3
